<h1>Indicateurs</h1>
<%= link_to "Importer un fichier", reservations_path %>

<p>Nombre de réservations : <%= @number_of_reservations %></p>
<p>Nombre d'acheteurs uniques : <%= @number_of_unique_buyers %></p>
<p>Âge moyen des acheteurs : <%= @average_buyer_age %> ans</p>
<p>Prix moyen par représentation :</p>
<table>
  <thead>
    <tr>
      <th>Représentation</th>
      <th>Prix moyen</th>
    </tr>
  </thead>
  <tbody>
    <% @average_price_per_representation.each do |representation, average_price| %>
      <tr>
        <td><%= representation %></td>
        <td><%= number_to_currency(average_price, unit: '€') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
